@using SoccerTournament.Data.Models
@model SoccerTournament.Models.Team.TeamViewModel

@{
    ViewBag.Title = @Model.Name;
}

<div class="row">
    <div class="col-lg-3">
        <div id="carouselExampleControls">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Model.Emblem" class="d-block w-100" alt="@Model.Name">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div>
            <h2 class="card-title">@Model.Name</h2>
            <h6 class="card-title">Coach: @Model.CoachFullName</h6>
            <h6 class="card-title">Country: @Model.CountryName</h6>
            <div class="row">
                <h6 class="card-title">Players:</h6>
                @foreach (var player in @Model.TeamPlayers)
                {
                    <div class="col-lg-3">
                        <h6 class="card-title">@player.FirstName @player.FamilyName"</h6>
                        <img class="rounded-circle" src="@player.PictureUrl" style="width:200px;height:100px" alt="@player.FirstName @player.FamilyName">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (User.IsAdmin())
{
    <div>
        <a asp-area="" asp-controller="Teams" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-lg-end">Delete</a>
    </div>
}
<br>
