@using SoccerTournament.Data.Models
@model SoccerTournament.Models.Game.GameViewModel

@{
    ViewBag.Title = @Model.Name;
}

<div class="row">
    <div class="col-lg-3">
        <div id="carouselExampleControls">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2 class="card-title">@Model.Name</h2>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 mx-auto d-block">
        <div>
            <h2>Games Statistics @Model.Name</h2>
            <table class="table-bordered table-striped table table-warning">
                <tr>
                    <th>HomeTeam: @Model.HomeTeamName</th>
                    <th>AwayTeam: @Model.AwayTeamName</th>
                </tr>
                <tr>
                    <td>Result: </td>
                    <td>Home @Model.HomeTeamGoals : @Model.AwayTeamGoals Away</td>
                </tr>
                <tr>
                    <td>Stage: </td>
                    <td>@Model.Stage</td>
                </tr>
                <tr>
                    <td>Goals score</td>
                    <td>@Model.Goals</td>
                </tr>
                <tr>
                    <td>Corners</td>
                    <td>@Model.Corners</td>
                </tr>
                <tr>
                    <td>BallPossessions</td>
                    <td>@Model.BallPossessions</td>
                </tr>
                <tr>
                    <td>Red cards</td>
                    <td>@Model.RedCards</td>
                </tr>
                <tr>
                    <td>Yellow cards</td>
                    <td>@Model.YellowCards</td>
                </tr>
                <tr>
                    <td>TrollIns</td>
                    <td>@Model.TrollIns</td>
                </tr>
                <tr>
                    <td>Shots on target</td>
                    <td>@Model.ShotsOnTarget</td>
                </tr>
                <tr>
                    <td>Shots of target</td>
                    <td>@Model.ShotsOfTarget</td>
                </tr>
                <tr>
                    <td>Falls</td>
                    <td>@Model.Falls</td>
                </tr>
                <tr>
                    <td>Offsites</td>
                    <td>@Model.OffSites</td>
                </tr>
            </table>

        </div>

    </div>
</div>

</div>
@if (User.IsAdmin())
{
    <div>
        <a asp-area="" asp-controller="Teams" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-lg-end">Delete</a>
    </div>
}
<br>